<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735176048829-rbjjqkpdg39vf45nr2necdfkc0h1qdi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735176048829-rbjjqkpdg39vf45nr2necdfkc0h1qdi4</string>
	<key>API_KEY</key>
	<string>AIzaSyAj20BS2lb6fSNJFAtFz74bCvMRr9pQVMc</string>
	<key>GCM_SENDER_ID</key>
	<string>735176048829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFlutterDb</string>
	<key>PROJECT_ID</key>
	<string>amst-flutter-db-72780</string>
	<key>STORAGE_BUCKET</key>
	<string>amst-flutter-db-72780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735176048829:ios:42779da984fd1abac977d4</string>
	<key>DATABASE_URL</key>
	<string>https://amst-flutter-db-72780-default-rtdb.firebaseio.com</string>
</dict>
</plist>